---

title: Matthew Fowles
canvas-component: true
bodyClasses:  bg--black

---

{{> header}}

<div class="page-wrap">
<div class="js-canvas-component-mirror text--center bg--black text--white">
 <h1 class="giga flush">404</h1>
 <h3 class="flush">You seem to be a little lost or I broke something!</h3>
 <p class="flush">Click on the header to go back or why not try to defeat the maze while your here.</p>
 <p class="flush">The aim is to direct the red dot to the blue one using your arrow keys or AWSD keys.</p>
 <p class="flush--top">If you are on a touch based device use the on screen arrows.</p>
	
</div>

<div class="js-canvas-component canvas-component">
	<div class="canvas-component--complete js-canvas-component--complete">
		<h3 class="giga">Well Done!</h3>
		<p class="epsilon">You will now be redirected.</p>
	</div>
</div>

<div class="arrow-keys text--center soft" id="touchOnly">
	<div class="top-layer">
		<span class="arrow-up">
			<svg width="44px" height="44px" viewBox="0 0 44 44" version="1.1" >
			    <g id="Page-1">
			        <g id="arrow-key" transform="translate(22.000000, 22.000000) rotate(-180.000000) translate(-22.000000, -22.000000) ">
			            <rect id="Rectangle-3" width="44" height="44" ></rect>
			            <path d="M35.7088751,18.1453742 C34.6903751,19.266301 23.9693751,30.2239107 23.9693751,30.2239107 C23.4253751,30.8222034 22.7123751,31.1221546 21.9998751,31.1221546 C21.2858751,31.1221546 20.5728751,30.8222034 20.0303751,30.2239107 C20.0303751,30.2239107 9.3098751,19.266301 8.2903751,18.1453742 C7.2718751,17.0239107 7.2023751,15.0074229 8.2903751,13.8108376 C9.3773751,12.6147888 10.8958751,12.5198132 12.2298751,13.8108376 L21.9998751,23.8637644 L31.7693751,13.8108376 C33.1043751,12.5198132 34.6218751,12.6147888 35.7088751,13.8108376 C36.7978751,15.0079595 36.7283751,17.0244473 35.7088751,18.1453742 L35.7088751,18.1453742 Z" id="Shape" fill="#FFFFFF"></path>
			        </g>
			    </g>
			</svg>
		</span>
	</div>
	<div class="middle-layer">
		<span class="arrow-left">
			<svg width="44px" height="45px" viewBox="0 0 44 45">
			    <g id="Page-1">
			        <g id="arrow-key-3"  transform="translate(22.000000, 23.000000) rotate(-270.000000) translate(-22.000000, -23.000000) translate(-0.500000, 1.000000)">
			            <rect id="Rectangle-3" width="44" height="44"></rect>
			            <path d="M35.7088751,18.1453742 C34.6903751,19.266301 23.9693751,30.2239107 23.9693751,30.2239107 C23.4253751,30.8222034 22.7123751,31.1221546 21.9998751,31.1221546 C21.2858751,31.1221546 20.5728751,30.8222034 20.0303751,30.2239107 C20.0303751,30.2239107 9.3098751,19.266301 8.2903751,18.1453742 C7.2718751,17.0239107 7.2023751,15.0074229 8.2903751,13.8108376 C9.3773751,12.6147888 10.8958751,12.5198132 12.2298751,13.8108376 L21.9998751,23.8637644 L31.7693751,13.8108376 C33.1043751,12.5198132 34.6218751,12.6147888 35.7088751,13.8108376 C36.7978751,15.0079595 36.7283751,17.0244473 35.7088751,18.1453742 L35.7088751,18.1453742 Z" id="Shape" fill="#FFFFFF" ></path>
			        </g>
			    </g>
			</svg>
		</span>
		<span style="width: 44px; display: inline-block;"></span>
		<span class="arrow-right">
			<svg width="44px" height="44px" viewBox="0 0 44 44">
			    <g id="Page-1">
			        <g id="arrow-key-2" sketch:type="MSLayerGroup" transform="translate(22.000000, 21.500000) rotate(-90.000000) translate(-22.000000, -21.500000) translate(-0.500000, -0.500000)">
			            <rect id="Rectangle-3" width="44" height="44"></rect>
			            <path d="M35.7088751,18.1453742 C34.6903751,19.266301 23.9693751,30.2239107 23.9693751,30.2239107 C23.4253751,30.8222034 22.7123751,31.1221546 21.9998751,31.1221546 C21.2858751,31.1221546 20.5728751,30.8222034 20.0303751,30.2239107 C20.0303751,30.2239107 9.3098751,19.266301 8.2903751,18.1453742 C7.2718751,17.0239107 7.2023751,15.0074229 8.2903751,13.8108376 C9.3773751,12.6147888 10.8958751,12.5198132 12.2298751,13.8108376 L21.9998751,23.8637644 L31.7693751,13.8108376 C33.1043751,12.5198132 34.6218751,12.6147888 35.7088751,13.8108376 C36.7978751,15.0079595 36.7283751,17.0244473 35.7088751,18.1453742 L35.7088751,18.1453742 Z" id="Shape" fill="#FFFFFF"></path>
			        </g>
			    </g>
			</svg>
		</span>
	</div>
	<div class="bottom-layer">
		<span class="arrow-down">
			<svg width="44px" height="44px" viewBox="0 0 44 44">
			    <g id="Page-1">
			        <g id="Rectangle-3-+-Shape">
			            <rect id="Rectangle-3" x="0" y="0" width="44" height="44"></rect>
			            <path d="M35.7088751,18.1453742 C34.6903751,19.266301 23.9693751,30.2239107 23.9693751,30.2239107 C23.4253751,30.8222034 22.7123751,31.1221546 21.9998751,31.1221546 C21.2858751,31.1221546 20.5728751,30.8222034 20.0303751,30.2239107 C20.0303751,30.2239107 9.3098751,19.266301 8.2903751,18.1453742 C7.2718751,17.0239107 7.2023751,15.0074229 8.2903751,13.8108376 C9.3773751,12.6147888 10.8958751,12.5198132 12.2298751,13.8108376 L21.9998751,23.8637644 L31.7693751,13.8108376 C33.1043751,12.5198132 34.6218751,12.6147888 35.7088751,13.8108376 C36.7978751,15.0079595 36.7283751,17.0244473 35.7088751,18.1453742 L35.7088751,18.1453742 Z" id="Shape" fill="#FFFFFF"></path>
			        </g>
			    </g>
			</svg>
		</span>
	</div>
</div>

</div>