<footer>
      <div class="page-wrap soft--sides">
        <p class="soft-half--top flush float--left">Matthew Fowles 2014</p>
        <div class="contact__icons float--right soft-half--top">
        	<a href="{{github-url}}">
				{{> github-contact}}
			</a>
			<a href="{{twitter-url}}">
				{{> twitter-contact}}
			</a>
			<a href="{{linkedin-url}}">
				{{> linkedin-contact}}
			</a>
		</div>
      </div>
    </footer>