<footer class="one-whole bg--black text--white">
      <div class="page-wrap soft--sides">
        <p class="soft-half--top flush float--left">Matthew Fowles 2014</p>
        <div class="contact-component float--right soft-half--top">
        	<a href="{{github-url}}" class="push-half--sides">
				{{> github-contact}}
			</a>
			<a href="{{twitter-url}}" class="push-half--sides">
				{{> twitter-contact}}
			</a>
			<a href="{{linkedin-url}}" class="push-half--sides">
				{{> linkedin-contact}}
			</a>
		</div>
      </div>
    </footer>