<header class="site-header">
	<div class="page-wrap soft--sides">
		<h1 class="title hard"><a href="/">Matthew Fowles</a></h1>
		<div class="contact__icons visuallyhidden--palm float--right push--top">
			<a href="{{github-url}}">
				{{> github-contact}}
			</a>
			<a href="{{twitter-url}}">
				{{> twitter-contact}}
			</a>
			<a href="{{linkedin-url}}">
				{{> linkedin-contact}}
			</a>
		</div>
	</div>
</header>