.fourohfour {

	
	padding: 16px;
	

	.canvas-area {
		position: relative;

		canvas {
			position: absolute;
		}
	}

	h1, h3 {
		margin: 0;
	}

	.title-404 {
		font-size: 112px;
	}

	svg {
		fill: transparent;
		cursor: pointer;
	}


	#complete {
		display: none;
		position: absolute;
		left: 10%;
		top: 10%;
		height: 80%;
		width: 80%;
		text-align: center;
		background: rgba(0,0,0, 0.5);
		border-radius: 4px;
		z-index: 99999;
		color: $white;
	}

}