.contact-component {

	a {
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

	svg {
		width: 24px;
		height: 24px;
		fill: #f8f8f2;
	}
}

.icon--small {
	height: 18px;

	svg {
		height: 18px;
	}
}