.share-component {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	position: fixed;
	text-align: center;
	cursor: pointer;
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);

	@include media-query(palm){
		margin-top: 24px;
		position: relative;
		float: left;
	}

	svg {
		fill: $white;
		width: 24px;
		height: 24px;
		margin: 14px auto;
	}

	&__google{
		background: #dd4b39;
		margin-top: 66px;

		@include media-query(palm){
			margin-top: 24px;
		}
	}

	&__facebook {
		background: #3B5998;
		margin-top: 198px;

		@include media-query(palm){
			margin-top: 24px;
		}
	}

	&__twitter {
		background: #55acee;
		margin-top: 132px;

		@include media-query(palm){
			margin-top: 24px;
		}
	}

	&__down-arrow {
		background: #444;
		transform: rotate(0deg);
		opacity: 0;
	}
}